<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
     <!--Import my css-->
     <link rel="stylesheet" href="mycss.css">
     <!--Import chart js-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Fake Profile</title>
    </head>

    <body>
      <!--Navbar(will be 12 columns wide on all screens)-->
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" class="waves-effect">Home</a></li>
            <li><a href="#" class="waves-effect">About Us</a></li>
            <li class="active"><a href="typesofbullying.html" class="waves-effect">Types Of Cyber Bullying</a></li>
            <li><a href="#" class="waves-effect">Preliminary Preventions</a></li>
            <li><a href="#" class="btn waves-effect">Fill Form</a></li>
            <li><a href="#" class="btn waves-effect">Admin Login</a></li>
          </ul>
        </div>
      </nav>
      <!--Styling-->
      <style>
        .nav-wrapper{
          background: linear-gradient(to right, grey,black)
        }
        .page-footer{
          background: linear-gradient(to right, grey,black)
        }
      </style>
      <!--Navbar end-->
      <!--page layout start-->
      <div class="row">

      <div class="col s12 m4 l4"> <!-- Note that "m4 l4" was added -->
        <!-- Grey navigation panel

              This content will be:
          4-columns-wide on large screens,
          4-columns-wide on medium screens,
          12-columns-wide on small screens  -->

          <div>
            <!--Canvas of radar-->
            <canvas id="myChart" height=380px></canvas>
            <script>
             var ctx = document.getElementById("myChart").getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'horizontalBar',
              data: {
                  labels:["Madhya Pradesh","Uttar Pradesh","Chhattisgarh","Himachal Pradesh","Andhra Pradesh","Arunachal Pradesh","Uttrakhand","Mizoram","Tripura","Assam","Telangana","Hyderabad","Tamil Nadu","Karnataka","Kerala","Delhi","Maharashtra","Goa","Jammu and Kashmir","Haryana","Rajasthan","Gujarat","West Bengal","Jharkhand","Sikkim","Andaman and Nicobar Islands"],
                  datasets: [{
                      label: 'Number of registered complaints',
                      data: [220,321,345,224,156,327,769,790,906,862,989,1090,1330,1562,1123,976,846,476,611,1578,1046,454,108,1678,998,542],
                      borderWidth: 1,
                      backgroundColor:'rgba(00,00,00,0.5)',
                      borderColor: 'black'
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          });
            </script>
            <!--End radar-->
          </div>
      </div>


      <div class="col s12 m8 l8"> <!-- Note that "m8 l8" was added -->
        <!-- Teal page content

          This content will be:
          4-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->

          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
               voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                   voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                       voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum.
            </p><br>
            <canvas id="myCharts" height="100%"></canvas>
            <script>
             var ctx = document.getElementById("myCharts").getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels:["2008","2009","2010","2011","2012","2013","2014","2015","2016","2017"],
                  datasets: [{
                      label: 'Number of registered complaints (per year in thousands)',
                      data: [220,321,345,224,156,327,769,790,906,862,989],
                      borderWidth: 1,
                      backgroundColor:'rgba(255,00,00,0)',
                      borderColor: 'red'
                  },{
                      label: 'Number of registered complaints (per year in thousands)',
                      data: [120,161,245,124,126,227,669,710,806,802,889],
                      borderWidth: 1,
                      backgroundColor:'rgba(255,00,00,0)',
                      borderColor: 'green'
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          });
            </script>

          </div>

      </div>


    </div><hr>
    <div class="parallax-container">
      <div class="parallax"><img src="fakeprofileimage.png"></div>
    </div>
      <div class="section white">
        <div class="row container">
          <h2 class="header"></h2>
          <p class="grey-text text-darken-3 lighten-3">
            <h1>Fake Profile</h1>
            <h5>Fake profiles can be created in order for a person to hide their real identity with the intention of
               cyberbullying you.</h5></br>
            <h5>The cyberbully might also use someone else’s email or mobile phone to cyberbully you.</h5></br>
            <h5>This would make it appear as if someone else has sent the threats.</h5></br>
            <h5>The cyberbully is afraid in case their identity is revealed, therefore they choose to use fake accounts. </h5>
            <h5>This usually means that the cyberbully is someone that you know very well, because if you didn’t know them,
              the perpetrator wouldn’t have to hide their identity.</h5>
          </p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax"><img src="fakeprofileimg.png"></div>
      </div>
      <!--Start footer-->
      <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h4 class="white-text">Scripters</h4><hr>
                <p class="grey-text text-lighten-4">No more doppelgangers.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                  <a href="frapping.html"><h4 class="white-text">Next: Frapping<i class="material-icons">arrow_forward</i><hr></h4></a>

              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright text
            </div>
          </div>
        </footer>
      <!--End footer-->


      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script>
        $(document).ready(function(){
          $('.parallax').parallax();
        });</script>
    </body>
  </html>
