<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <!--Navbar-->

      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="waves-effect waves-red"><a href="#">Home</a></li>
            <li class="waves-effect waves-red"><a href="#">About us</a></li>
            <li class="active"><a href="#">Types of cyber bullying</a></li>
            <li class="waves-effect waves-red"><a href="#">Preliminary preventions</a></li>
            <li><a href="#" class="waves-effect  btn cyan darken-1">Fill form</a></li>
            <li><a href="#" class="waves-effect  btn cyan darken-1">Admin Login</a></li>
          </ul>
        </div>
      </nav>
      <div class="parallax-container">
        <div class="parallax"><img src="sihimg/cbully.jpg"></div>
      </div>
        <div class="section white">
          <div class="row container">
            <h2 class="header"></h2>
            <p class="grey-text text-darken-3 lighten-3">

            </p>

            <div class="row  center-align">

              <div class="col m4 s12">
                <div class="card"><img src="sihimg/exclusion.png" height=150vw></img>
                <a href='#'><h4 class="black-text">Exclusion</h4></a></div>


              </div>
              <div class="col m4 s12">
                <div class="card"><img src="sihimg/outing.png" height=150vw></img>
                  <a href='#'><h4 class="black-text">Outing</h4></a></div>

              </div>
              <div class="col m4 s12">
                <div class="card">  <img src="sihimg/harrassment.png" height=150vw></img>
                    <a href='#'><h4 class="black-text">Harrassment</h4></a></div>

              </div>
            </div>
            <div class="row center-align">

              <div class="col m4 s12">
                <div class="card"><img src="sihimg/fakeProfile.png" height=150vw></img>
                  <a href='#'><h4 class="black-text">Fake profile</h4></a> </div>


              </div>
              <div class="col m4 s12">
                <div class="card"><img src="sihimg/fraping.png" height=150vw></img>
                  <a href='#'><h4 class="black-text">Fraping</h4></a></div>

              </div>
              <div class="col m4 s12">
                <div class="card">  <img src="sihimg/cyberStalking.png" height=150vw></img>
                    <a href='#'><h4 class="black-text">Cyber stalking</h4></a></div>

              </div>
            </div>
            <div class="row center-align">

              <div class="col m4 s12">
                <div class="card"><img src="sihimg/catFishing.png" height=150vw></img>
                  <a href='#'><h4 class="black-text">Cat fishing</h4></a></div>


              </div>
              <div class="col m4 s12">
                <div class="card"><img src="sihimg/trickery.png" height=150vw></img>
                  <a href='#'><h4 class="black-text">Trickery</h4></a></div>

              </div>
              <div class="col m4 s12">
                <div class="card"><img src="sihimg/trolling.png" height=150vw></img>
                  <a href='#'><h4 class="black-text">Trolling</h4></a></div>

              </div>
            </div>

          </div>
        </div>
        <div class="parallax-container">
          <div class="parallax"><img src="sihimg/bully.jpg"></div>
        </div>



      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });</script>
    </body>
  </html>
