{% extends 'base.html' %}

{% block pagecontent %}
  <h2>Survey {{ limit.limit }}/500</h2>
    <form method="post" id="response">
    {% csrf_token %}
    {% for field in form %}
      <p><b>Question: </b>{{ field.text }}<br>
      {% if limit.limit >= 500 %}
          <h3>No more values are getting accepted</h3>
          {% else %}
      {% if field.category == "text" %}
          <label>Your Answer</label>
          {{ response_form.answer }}
          {% else %}
          <select name="answer">
          {% for i in field.choices %}
          <option>{{ i }}</option>
          {% endfor %}
          </select>
      {% endif %}
      {% endif %}
      </p>
    {% endfor %}
    <button id="next" class="btn pink" type="submit">Send</button>
    </form>
    <script>  $(document).ready(function() {
    $('select').material_select();
  });</script>
{% endblock %}